<div class="header">
  <div id="top">
    <div id="spacer"></div>
    <%= link_to "calm down.", root_path %>
  </div>
  
  <div id="links">
    <%= render partial: "shared/links" %>
    <div id="spacer-two"></div>
  </div>
</div>