<div class="links">
  <div id="about"><button><%= link_to 'About', about_path %></button></div>
  <div id="donate"><button><%= link_to 'Donate', donate_path %></button></div>
  <div id="faq"><button><%= link_to 'FAQ', faq_path %></button></div>
</div>