<div class="voted">
  <h3>Choose the best: </h3>
  <div class="poll-button"
  onclick="location.href='<%= vote_path(ip: @user_ip) %>'">
    <p class="choice">Squirrel</p>
  </div>
  <div class="poll-button"
  onclick="location.href='<%= vote_path(ip: @user_ip) %>'">
    <p class="choice">Cd Player</p>
  </div>
</div>