<div class="voted">
  <h3>Choose the best:</h3>
  <%= link_to vote_path(ip: @safe_ip), class: "poll-button" do %>
    <p class="choice">Squirrel</p>
  <% end %>
  
  <%= link_to vote_path(ip: @safe_ip), class: "poll-button" do %>
    <p class="choice">Cd Player</p>
  <% end %>
</div>