<div class="voted">
  <h3>Good choice! </h3>
  <div class="poll-button-voted">
    <p class="choice">Squirrel</p>
    <p class="count">0</p>
  </div>
  <div id="correct-choice">
    <div class="poll-button-voted">
      <div id="ctnr">
        <img src="/images/check.svg" alt="check" id="check"> 
        <p class="choice">Cd Player</p>
      </div>
      <p class="count"><%= @count %></p>
    </div>
  </div>
</div>