<%= render partial: "shared/head" %>

<div class="content">
  <p>If you are visiting this site, it means that YOU need to calm down! Yes, <em>you</em>. But what does this mean exactly? I will explain!</p>

  <h2>Lord and savior:</h2>
  <div class="container">
    <img src="/images/cd-player.png" alt="cd player">
    <p>This is a cd player, better reffered to as a calm down player, our lord and savior. The cd player has been with humanity since the dawn of time. They have been watching over us, guiding us, leading us toward a calmer more peaceful existence.</p>
  </div>
  <p>But <em>you</em> have to accept the cd player as your lord and savior in order to allow its calmness to flow into your life, else be doomed to an eternity with the devil!  </p>
  <h2>The devil:</h2>
  <div class="container">
    <img src="/images/squirrel.webp" alt="devil">
    <p>What you see before you is pure evil. They are anti-calm, bringing chaos and torment into your life. If you've seen one, its too late; run. They hate cd players, so be sure to keep one with you at all times!</p>
  </div>
  <p>Use this knowledge wisely.</p>

  
</div>