<%= render partial: "shared/head" %>


<div class="content">
  <h2>Frequently asked questions:</h2>
  <div class="question">
    <h3>I am currently screaming. Is this calm?</h3>
    <p>No, this is squirrel behavior. You should calm down <em>immediately</em>.</p>
  </div>
  <div class="question">
    <h3>I put Taylor Swift in my cd player and it blew up.. why?</h3>
    <p>This type of music is made to stray you away from a calm state of mind. The cd player knows that this is the case. It's for your own good. You should replace your cd player ASAP so you don't risk squirrel exposure!</p>
  </div>
  <div class="question">
    <h3>I am calm.. what now?</h3>
    <p>Stay calm! Calm rational behavior confuses the squirrels and keeps them away.</p>
  </div>
  <div class="question">
    <h3>Sir this is a wendy's</h3>
    <p>...</p>
  </div>
</div>