* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(27, 27, 27);
}

#home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: white;
}


.head {
    flex-basis: 30vh;
    padding-top: 19%;
    padding-left: 35%;
    font-family: 'Courier New', Courier, monospace;
}

.body {
    flex-basis: 70vh;
    display: flex;
    justify-content: center;
}

.links {
    border: 1px solid white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: .6rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: fit-content;
}

.links button {
    font-family: sans-serif;
    padding: 5px;
    background-color: rgb(43, 62, 114);
    border: none;
    border-radius: 3px;
    margin: 3px;
}

.links button a {
    text-decoration: none;
    color: white;
}

.content {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: sans-serif;
    padding: 3rem 2rem 0 2rem;
}

.content p {
    margin-bottom: 1.5rem;
    font-size: 19px;
}

.content img {
    float: left;
    width: max(15%, 150px);
    height: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.content > h2 {
    margin-bottom: 1.5rem;
}

.question {
    margin-bottom: 2.4rem;
}

.content h3 {
    margin-bottom: .5rem;
}
