.container {
    display: flex;
    flex-direction: column;
}

.divider {
    height: .5rem;
    background-color: white;
    width: 100vw;
}

.header {
    width: 100vw;
    background-color: rgb(27, 27, 27);
    /*height: 18vh;*/
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #top a {
    text-decoration: none;
    color: white;
    font-size: 36px;
}

#top {
    display: flex;
}

#spacer {
    width: 4rem;
    height: 100%;
}

.header #links {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
}


#spacer-two {
    flex-basis: 2rem;
    height: 100%;
}

